body{
    background-color: black;
}

.poster img{
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    border: 5px solid white;
}

h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

p{
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-size: 30px;
    
}